# Ignore datafiles produced by postproc
postprocess/pr
postprocess/tas
postprocess/tasmax
postprocess/tasmin
postprocess/evspsbl
postprocess/hurs
postprocess/huss
postprocess/orog
postprocess/rsds
postprocess/rlds
postprocess/uas
postprocess/vas
postprocess/sfcWind
postprocess/psl
postprocess/ps
postprocess/sftlf
postprocess/orog
postprocess/fx
postprocess/stdout*
postprocess/wrf.xy.coords.nc
postprocess/wrf.xy.stagger.coords.nc

clean.sh
